body {
    background: linear-gradient(to right,#6C6C6C, #ffceff);
}
.header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.60);
    height: 70px;
    width: 100%;
    position: fixed;
}

.header-items {
    font-family: 'Peralta', cursive;
}